

main {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

main img {
  width: 100%;
  padding: 0;
}

.right {
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
  width: 20%;
  margin: 2%;
  justify-content: space-between;


}

.left {
  flex-direction: column;
  flex-grow: 3;
  width: 40%;
  margin: 2%;
}
.item1{
  margin-bottom: 10px;
}

.item1,
.item2,
.item3,
.item4,
.item5 {
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}
.item1,
.item2 {
  height: 50%;
}

.item3{
  height: 35%;
}
.item4{
  height: 55%;
  margin-bottom: 10px;
}
.item5{
  height: 15%;
}

h2 {
  margin: 20px;
}
p {
  padding: 5px 20px;
}

span {
  background-color: black;
  color: white;
  padding: 2px 4px;
}

.item4 img {
  width: 70px;
  height: 70px;
  padding: 0 10%;

}

.item4 div {
  display: flex;
}

.ps {
  display: flex;
  flex-direction: column;
}

.big{
  border-bottom: 1px solid;

}



.head {
  background-color: rgb(204, 201, 201);
  margin-top: 0;
  padding: 7% 5%;
}

.tag span {
  background-color: rgb(204, 201, 201);
  padding: 1%;
  margin: 3%;
}

.btn {
  border: 1px solid black;
  display: inline;
  padding: 2%;
  margin: 2%;
  cursor: pointer;
}
