body {
  margin: 0;
  font-family: "Raleway";
}

header {
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item1,
.item2,
.item3,
.item4,
.item5 {
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
  margin: 1%;
  height: fit-content;
}
.item1,
.item3 {
  flex-basis: 50%;
}

.item1 div,
.item3 div {
  display: inline;
}
.item2,
.item4,
.item5 {
  flex-basis: 25%;
}

span {
  background-color: black;
  color: white;
  padding: 2px 4px;
}

main p,
h2 {
  padding:0 2%;
}

.item4 img {
  width: 70px;
}

.item4 div {
  display: flex;
}

.item4 p {
  display: flex;
  flex-direction: column;
}

footer a{
    display: inline-block;
}

footer{
    background-color: rgb(41, 39, 39);
    margin-bottom: 0;
}